html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#react {
    height: 100%;
}

.fadein-appear {
    opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
}